/TrnAPI_01/packages
/TrnAPI_01/Common/bin
/TrnAPI_01/Common/obj
/TrnAPI_01/BLL/bin
/TrnAPI_01/BLL/obj
/TrnAPI_01/DAL/bin
/TrnAPI_01/DAL/obj
/TrnAPI_01/DI/bin
/TrnAPI_01/DI/obj
/TrnAPI_01/TrnAPI_01/bin
/TrnAPI_01/TrnAPI_01/obj
