<h2>Events</h2>

<table>
  <tr>
    <td>
      Id
    </td>
    <td>
      Name
    </td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td>
      <input type="text" value="" />
    </td>
    <td>
      <input type="button" value="add" />
    </td>
  </tr>

  <ng-template ngFor let-item [ngForOf]="events">
      <tr>
        <td>
          {{item.Id}}
        </td>
        <td>
          {{item.Name}}
        </td>
        <td>
          <input type="button" value="delete" />
        </td>
      </tr>
  </ng-template>
</table>